---
Language: Cpp
BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
- Regex: '^<[^/]*>'
  Priority: 1
- Regex: '^<.*/.*'
  Priority: 2
- Regex: '^\"reelay'
  Priority: 3
- Regex: '^\"third_party'
  Priority: 4