[submodule "cudd"]
	path = third_party/cudd
	url = https://github.com/doganulus/cudd.git

[submodule "cpp-peglib"]
	path = third_party/cpp-peglib
	url = https://github.com/yhirose/cpp-peglib.git
	
[submodule "json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git