name: Benchmark

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: benchmark-${{ github.ref }}
  cancel-in-progress: true

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install Timescales benchmarking tool
        run: |
          pip install git+https://github.com/doganulus/timescales.git
