name: Tests

on:
  workflow_dispatch:
  push:
    paths:
      - "include/reelay/**"
      - "tests/**"
      - "CMakeLists.txt"
      - ".github/workflows/tests.yml" # Self-trigger

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: '3.22.x'

      - name: Configure CMake
        run: cmake -B build -S .

      - name: Build
        run: cmake --build build

      - name: Run unit tests
        run: ctest --test-dir build --output-on-failure
